
body{
    font-family: "Arial";
    font-size: 0.8em;
    color: teal;
    width: 100%;
}

h1,h2,h3,h4,h5,th{
    font-weight: normal;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.site-header{
    background: #348781;
    color: azure;/*#F0FFFF;*/
    padding-bottom: 15px;
    font-size: 1.2em;
    padding-top: 5px;
    position: fixed;
    width:100%;
    height: 40px;
    top: 0px;
    z-index: 1;
}

.site-logo{
    padding-top: 20px;
    padding-left: 10px;
    float: left;
}

#control-panel-container{
	background: #F0FFFF;
	margin-top: 10%;
	margin-left: 10%;
	padding: 10px;
	width: 80%;
	height: 400px;
	border-radius: 20px;
}

#control-panel{
	margin-top: 100px;
	margin-left: 80px;
}

.control-panel-item
{
    float: left;
    padding-top: 20px;
    margin-left: 5px;
    width: 200px;
    height: 160px;
    border: 1px solid teal;
    border-radius: 5px;
    text-align: center;
}


#user-menu{
    float: right;
    padding-right: 60px;
    padding-top: 20px;
    font-size: 0.8em;
}

.username{
    color: yellow;
}

#user-menu a{
    color: teal;
    background: azure;
    padding: 5px;
    border-radius: 5px;
}

#user-menu p{
    float: left;
    padding-right: 10px;
}

.mini-form input[type="submit"]{
    margin-left: 220px;
}

.max-form input[type="submit"]{
    margin-left: 480px;
}

label{
    float: left;
    width: 150px;
    padding: 5px;
    color: teal;
    font-size: 0.9em;
}
p{
    margin-bottom: 10px;
}

form p{
    margin-bottom: 20px;
}

input[type="text"],input[type="password"]{
    width: 400px;
    padding: 5px;
    color: teal;
    border: 1px solid #66CDAA;
}

.mini-form input[type="text"],.mini-form input[type="password"]{
    width: 200px;
}

.mini-form label{
    width : 100px;
}

select{
    width: 415px;
    padding: 5px;
    color: teal;
    border-left:1px solid #66CDAA;
    border-top:1px solid #66CDAA;
    border-bottom:1px solid #66CDAA;
}

textarea{
    width: 400px;
    height: 300px;
    border: 1px solid #66CDAA;
    color: teal;
    padding: 5px;
}

input[type="submit"],button{
    background: linear-gradient(#99C68E,#54C571);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    width: 80px;
    cursor: pointer;
}

.success{
    color: teal;
}

.error{
    color: #E55451;
}

.messages{
    background: #F0FFFF;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 40px;
}

#close-button{
    float: right;
    margin-top: 5px;
    cursor: pointer;
    color: red;
}

#menu{
    float: left;
    margin-top: 60px;

}

#main-content-container{
    margin-top: 10%;
    margin-left: 25%;
}


#main-content-body{
    padding-right: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 60px;
    width: 85%;
    border-radius: 20px;
    border: 4px solid #F0FFFF;
}


#main-content-body img{
    border-radius: 50%;
}

#dashboard-container{
    width: 80%;
    height: 550px;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    border: 4px solid #F0FFFF;
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 60px;
}

.dashboard-item{
    float: left;
    margin-left: 40px;
    width: 200px;
    height: 160px;
    border: 1px solid teal;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#menu{
    margin-bottom: 100px;
}

#menu li{
    border-bottom: 4px solid #F0FFFF;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 170px;

}

#menu a{
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: teal;
}

.sub-menu{
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 5px;
}

.sub-menu li{
    list-style-type: none;
    display: inline;
    background: #F0FFFF;
    padding: 8px;
    border-top: 4px solid #F0FFFF;
    border-right: 4px solid #F0FFFF;
    border-left: 4px solid #F0FFFF;
} 
.sub-menu .selected-tab{
    background: white;
    border-bottom: none;
    border-right: 4px solid #F0FFFF;
    border-left:  4px solid #F0FFFF;
    border-top: 4px solid #F0FFFF;
}
.sub-menu a{
    text-decoration: none;
    color: teal;
}

.item-heading{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.item-view-section{
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: auto;
}

.item-view-section-header{
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 4px solid #F0FFFF;
}


.member-profile-header{
    margin-top: 50px;   
    height: 100px;
}

.member-profile-header img{
    float: right;
}
.member-profile-header .item-heading{
    padding-top: 30px;
    padding-bottom: 10px;
}

.member-profile-header ul{
    margin-left: -20px;
}

.member-profile-header li{
    list-style-type: none;
    display: inline;
}
.button-link{
    background: linear-gradient(#99C68E,#54C571);
    padding: 5px 10px;
    border: 1px solid #66CDAA;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.member-profile-header a{
    width: 80px;
    
}
.add-button{
    margin-left: 480px;
}
.date_picker{
    width: 135px;
}
.field{
    width: 200px;
    padding: 5px;
}
.value{
    width: 300px;
    padding: 5px;
}
td{
    padding-bottom: 5px;
}
td,th{
    padding: 10px;
    border-bottom: 2px solid #F0FFFF;
    text-align: left;
}

.chart-container{
    width: 700px;
    height: 300px;
}

.scrollable{
    width: 1000px;
    height: 300px;
}

.danger,.item-link,.paginator-links a{
    color: teal;
    background: #F0FFFF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid teal;
}

.danger{
    background: #FF6347;
    color: #FFFFFF;
    border: none;
}

.danger:hover{
    background: #DC143C;
}

.centered{
    margin-top: 100px;
    margin-left: 5%;
    height: 300px;
}

.centered-form{
    margin-left: 340px;
    margin-top: 120px;
}

.centered-form input[type="submit"]{
    margin-left: 200px;
}

.centered-form-header{
    margin-left: 200px;
    margin-bottom: 10px;
}

.button-link:hover,input[type="submit"]:hover{
    background: #2E8B57;
}

.item-link:hover,.paginator-links a:hover{
    background: #B0E0E6;
}

.long-term-notif{
    padding: 8px;
    background: #F0FFFF;
}

.paginator-links{
    margin-top: 60px;
}

.paginator-links a{
    margin-right: 5px;
}

.paginator-links .current-link{
    background: #B0E0E6;;
}

#dialog-box{
    top: 35%;
    left: 40%;
    width: 300px;
    height: 100px;
    padding: 20px;
    background:  rgb(255,255,255);
    border: 1px solid red;
    position: fixed;
    display: none;
}

#dialog-box p{
    margin-left: 20px;
}
#dialog-links{
    margin-left: 100px;
    margin-top: 50px;
}

.announcement-links{
    float: right;
    margin-top: 30px;
}